//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

// ハンバーガーメニュー
.rotateTop {
    transform: rotate(45deg);
    background: #000;
}

.hideMiddle {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

.rotateBottom {
    transform: rotate(-45deg);
    background: #000;
}

.translateNav {
    transform: translateX(0);
}
.translateNon {
    transform: translateX(100%);
}

//ヘッダー
.upMove {
    animation: upAnime 0.5s forwards;
}

@keyframes upAnime {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-150%);
        opacity: 0;
        pointer-events: none;
    }
}

.downMove {
    animation: downAnime 0.5s forwards;
}

@keyframes downAnime {
    from {
        transform: translateY(-150%);
        opacity: 0;
        pointer-events: none;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// fadeInなど
.fadeIn {
    opacity: 0;
    transition: .5s;
}

.fadeUp {
    position: relative;
    top: 80px;
    opacity: 0;
    transition: .5s;
}

.showElement {
    opacity: 1;
    top: 0;
    transition: .5s;
}